# Node modules and dependencies
/node_modules
.env
package-lock.json

# Build artifacts
.build/
.cache/

# Log files
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Ensure build folder is included
!build/
static/.cache
static/assets/.cache

# Exclude Markdown files if not needed for deployment
docs/
blog/

# GItHub Pages deployment branch artifacts
*.DS_Store